*{
    font-family: Shabnam, 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    direction: rtl;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Shabnam, 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

img{
    max-width: 100%;
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #0a0a0a;
}
.overlay{
    position: absolute;
}
.fa.fa-check-circle{
    color: #8b5c92;
}
.checkIcon {
    font-size: 60px;
    color: gold;
}


.searchHomeForm{
    height: 100%;
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    background-color: #999999;
    border-radius: 10px;
    margin-bottom: 20px;
}

form.form_{
    width: 170%;
    margin-left: -35%;
}

img.logoImg{
    height: 60%;
    width: 50%;
}

div.trans{
    position: absolute;
    height:200px;
    width: 500px;
    opacity: 0.5;
    background-color: gray;
    border-radius: 10px;
}
.logoName{
    color: rgb(46, 208, 203);
    font-size: 20px;
    width: 100px;
    margin: 25px;
    font-weight: bold;
}

div.centered {
    position: absolute;
    color: rgb(46, 208, 203);
    top: 25%;
    left: 80%;
    font-size: 30px;
    transform: translate(-25%, -25%);
}

.fa.fa-check-circle{
    color: #8b5c92;
}
.checkIcon {
    font-size: 60px;
    color: gold;
}

.container.whyHome{
    padding: 50px 0px 50px 0px;
    max-height: 100%;
}

.alignR{
    direction: rtl;
}
.alignL{
    direction: ltr;
}

.txtAlignL{
    text-align: left;
}
.txtAlignR{
    text-align: right;
}
.margin10{
    margin: 10px;
}
.padding10{
    padding: 8px 0 9px 0;
}
.infoBox{
    padding: 20px;
    margin: 2%;
    position: relative;
    align-items: center;
    max-height: 100%;
    width: 20%;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
}
.KBDfeatureBox-md{
    margin-top: -5%;
}
.transparent{
    background-color: rgba(0,0,0,0);
}
.text-white{
    color: white;
}

.border-white{
    border-color: white;
    border-radius: 10px;
}

.w-md-25{
    width: 25%;
    height: 25%;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    h1{
        font-size: 80%;
    }
    .w-xs-100{
        width: 100%;
        height: 100%;
    }
    .KBDfeatureBox-xs{
        margin-top: -50%;
    }
    .hidden-xs{
        visibility: hidden;
        margin-top: -100px;
    }
}
