.navBar{
    background-color: white;
    height: 70px;
}

img.logoImg{
    height: 50px;
    width: 50px;
    margin: 20px;
}

.spacer {
    height: 80px;
}

.logoName{
    color: rgb(46, 208, 203);
    font-size: 20px;
    /*width: 150px;*/
    margin-top: 30px;
    font-weight: bold;
}

.userName{
    color: black;
    text-align: right;
    white-space: nowrap;
    padding-bottom: 10px;
}

.balancelable{
    color: #999999;
    text-align: right;
    white-space: nowrap;
}

.balanceValue{
    color: #999999;
    text-align: left;
    white-space: nowrap;
}

button.userInfo-btn{
    border: none;
    color: #6f42c1;
    font-size: medium;
}

.userInfo-btn:hover{
    background-color: #ffffff;
}

.dropdownBox {
    background-color: white;
    border-bottom-left-radius: 0.625em;
    border-bottom-right-radius: 0.625em;
    border-top-right-radius: 0.625em;
    border-top-left-radius: 0em;
    margin-top: 3em;
    padding: 1.5em;
    width: 200px;
    box-shadow: 0px 20px 40px rgba(0,0,0,0.1);
}

.userInfo-btn .userInfoBox-hover{
    position: absolute;
    visibility: hidden;
    width: 200px;
    height: 150%;
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.userInfo-btn:hover .userInfoBox-hover{
    position: absolute;
    visibility: visible;
    margin-left: -50%;
}


a.a-addMoney{
    background-color: rgb(46, 208, 203);
    color: white;
    height: 30%;
    margin-top: 25px;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.pageHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    background-image: url("../../assests/img/geometry2.png")
}

.pageHeaderText {
    color: #3AD2CB;
    font-size: 2em;
    text-align: right;
    padding: 6em;
    font-weight: bold;
}


footer{
    position:relative;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #1b6d85;
}



.lables{
    color: #999999;
    text-align: center;
    padding: 1.250em;
    /*font-weight: bold;*/
    white-space: nowrap;
}

.unit{
    color: #999999;
    text-align: right;
    white-space: nowrap;
}