@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);
*{
    font-family: Shabnam;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Shabnam, 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}


.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #0a0a0a;
}
.overlay{
    position: absolute;
}
.fa.fa-check-circle{
    color: #8b5c92;
}
.checkIcon {
    font-size: 60px;
    color: gold;
}

.container.whyHome{
    padding-top: 50px;
    height: 500px;
}

.searchHomeForm{
    height: 100%;
    width: 80%;
    padding: 10px;
    margin-left: 100px;
    background-color: rgba(0,0,0,.3);
    border-radius: 10px;
    margin-bottom: 20px;
}
.center_{
    text-align: center;
    vertical-align: middle;
    horiz-align: center;
}
.center_2{
    position: relative;
}
form.form_{
    width: 170%;
    margin-left: -35%;
}

img.logoImg{
    height: 75px;
    width: 75px;
}
div.trans{
    position: absolute;
    height:200px;
    width: 500px;
    opacity: 0.5;
    background-color: gray;
    border-radius: 10px;
}
.logoName{
    color: rgb(46, 208, 203);
    font-size: 20px;
    width: 100px;
    margin: 25px;
    font-weight: bold;
}

div.centered {
    position: absolute;
    color: rgb(46, 208, 203);
    top: 25%;
    left: 80%;
    font-size: 30px;
    transform: translate(-25%, -25%);
}

footer{
    position:relative;
    left:0px;
    bottom:0px;
    width:100%;
    background-color: #1b6d85;
}

.fa.fa-check-circle{
    color: #8b5c92;
}
.checkIcon {
    font-size: 60px;
    color: gold;
}

.container.whyHome{
    padding-top: 50px;
    height: 500px;
}

.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-telegram {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1b6d85;
}
.fa-telegram:hover {
    background-color: #2CA5E0;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1b6d85;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-instagram {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #1b6d85;
}
.fa-instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
;
}

.alignR{
    direction: rtl;
}
.alignL{
    direction: ltr;
}

.txtAlignL{
    text-align: left;
}
.txtAlignR{
    text-align: right;
}
.margin10{
    margin: 10px;
}
.colory{
    background-color: #d3232b;
}
.w100{
    width: 100%;
}

.infoBox{
    padding: 20px;
    margin: 25px;
    position: relative;
    align-items: center;
    height: 250px;
    width: 20%;
    margin-top: 580px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 110px -22px rgba(0,0,0,0.75);
}

.centerContent{
    justify-content: center;

}

.transparent{
    background-color: rgba(0,0,0,0);
}
.text-white{
    color: white;
}

.border-white{
    border-color: white;
    border-radius: 10px;
}